.about hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid lightgray
  margin: 1em 0

.about .description .text
  margin-top: 0.75em

.about .warning
  flex: 70

input[type="radio"]
  width: auto
  margin-right: 0.5em

label
  margin-bottom: 0
  margin-right: 0.75em

.about .reward .content input
  flex: 20% 0 0
  min-width: 85px
  margin-right: 0.75em

.content .error
  outline: red solid 1px

.error
  color: red

.errorMsg
  flex: 19% 0 0
  justify-content: flex-start
  align-content: center
  align-items: center
  color: white
  font-size: 10px
  margin-left: 5px

.errorMsg span
  background: lightcoral
  border-radius: 2.5px
  border: 3px solid lightcoral
  width: 11em

.cost
  flex: 35% 0 0
  justify-content: center
  align-content: flex-end

.cost input
  flex: 85% 0 0

.cost span
  flex: 15% 0 0
  justify-content: flex-end
  align-items: center
