.header .line
  background: $c-blue-dark
  height: 1em
  width: 100%

.header .content
  background: $c-blue
  height: 5em
  width: 100%

.header .spacer
  flex: 25% 0 0

.header .text
  font-weight: 300
  font-size: 36px
  color: white